// colors
$main-dark: #1a1e2b;
$main-light: #efe9da;
$secondary-dark: #868ce1;
$secondary-light: #b6bdf6;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
// Mobile-first styles
body {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  background-color: $secondary-dark;
}
header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-dark;
  margin-bottom: 2rem;
  img {
    width: 4rem;
  }
  h1 {
    color: $secondary-dark;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
form {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    border-radius: 6px;
    height: 4rem;
    width: 60%;
    max-width: 400px;
    background-color: $secondary-light;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }
  button {
    color: $main-light;
    background-color: $main-dark;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    cursor: pointer;
  }
}
.main-container {
  display: grid;
  place-items: center;
}
main {
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  margin: 5rem auto;
  padding: 2rem;
  visibility: hidden;
  text-align: center;
  background-color: $main-dark;
  color: $main-light;
  .location,
  .location-country {
    color: $secondary-light;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  p {
    margin: 1rem 0;
    font-size: 2rem;
    line-height: 3rem;
  }
}
footer {
  padding: 1rem;
  display: grid;
  place-items: center;
  color: $main-light;
  font-size: 1.5rem;
  a {
    color: inherit;
  }
}
